.jet-container .jet-header{
  display: flex;
  flex-flow: row nowrap;
  height: 40px;
}

.header-container .headers, .results-container .submission {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
}

.headers .header {
  flex: 1 0 25%;
}

.submission .date, .submission .authorid, .submission .title, .submission .reviewstatus{
  flex: 1 0 25%;
}

.jet-header{
  font-weight: bold;
  text-align: left;
}

.jet-body {
  text-align: left;
  margin-left: 2%; 
  font-size: 80%;
  position: relative
}

.less-headspace {
  padding-top: 1rem !important;
}

.bigText {
  height:200px;
  text-align: "left";
  overflow-wrap: break-word;
}

.input-container .access-input {
  margin: 10px 0;
  width: 250px;
  height: 36px;
  border: none;
  padding: 2px 16px;
  box-sizing: border-box;
  border-radius: 20px;
  outline: none;
}

.input-container .submit-btn {
  margin-left: 10px;
  width: 100px;
  height: 36px;
  border: none;
  padding: 2px 16px;
  box-sizing: border-box;
  border-radius: 20px;
  outline: none;
  background: #6454bd;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
}

.input-container .submit-btn:hover {
  background: #c561ae;
}

.input-container .submit-btn:active {
  background: #d86bbe;
}
