.jetdetails-container .jetdetails-header{
  display: flex;
  flex-flow: row nowrap;
  height: 40px;
}

.jetdetails-header{
  font-weight: bold;
  text-align: left;
  color: #6454bd;
}

.less-headspace {
  padding-top: 1rem !important;
}

.header-container .headers, .results-container .submission {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
}

.headers .header {
  flex: 1 0 14%;
}

.submission .authorid, .submission .reviewer1Id, .submission .reviewer2Id, .submission .reviewer3Id{
  flex: 1 0 14%;
  font-size: 80%;
}
.submission .date, .submission .title,  .submission .reviewstatus{
  flex: 1 0 14%;
  font-size: 80%;
}

.placeholder-body {
  text-align: left;
  margin-left: 2%; 
  font-size: 80%;
  position: relative
}

.submit-btn {
  margin-left: 10px;
  width: 100px;
  height: 36px;
  border: none;
  padding: 2px 16px;
  box-sizing: border-box;
  border-radius: 20px;
  outline: none;
  background: #6454bd;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
}

.submit-btn:hover {
  background: #c561ae;
}

.submit-btn:active {
  background: #d86bbe;
}


